* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



main {
    display: flex;
    justify-content: center;

}

form {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
}

nav {
    display: flex;
    flex-direction: row;
    width: 100vw;
    background-color: grey;
    height: 10vh;
    color: white;
    gap: 20px;

}

nav a {
    color: white;
    text-decoration: none;
    width: 200px;
    height: 50px;
    margin-top: 10px;
    padding-top: 20px;
    background-color: rgb(50, 50, 50);
}

.vraag{
    margin-top: 135px;
}